body {
  height: 100vh;
  width: 100%;
  background-image: url('https://parrceramics.com/wp-content/uploads/2016/02/slatebackground1280px90dpiwebop.jpg');
  cursor: all-scroll;
}

* {
  font-family: 'Gloria Hallelujah', cursive;
  box-sizing: border-box;
  color: ivory;
}

/*header h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.5rem;
  color: snow;
  border-bottom: outset 4px brown;
  background: linear-gradient(to bottom right,firebrick,chocolate);
  margin-bottom: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
}*/

form {
  margin-left: 2%;
  clear: both;
  margin-top: 2em;
  padding-top: 2em;
}

#map {
  height: 60%;
  width: 45%;
  box-shadow: 8px 8px 8px #8C8684;
  margin-top: 2%;
  margin-left: 2%;
  float: left;
 }

label {
  display: block;
  margin-bottom: 2%;
}

input[type="text"] {
  text-align: center;
  font-size: 1rem;
  background: linear-gradient(silver,snow);
}

input[type="submit"] {
  border-radius: 100%;
  background: linear-gradient(#201E1D,grey);
  font-size: 1.3rem;
  color:white;
}
header {
  margin-bottom: 2vh;
}

#results {
  width: 45%;
  height: 60%;
  overflow: scroll;
  list-style: none;
  text-align: center;
  float: left;
  margin: 0;
  padding-left: 0;
  margin-left: 3%;
  margin-top: 2%;
}

#results::-webkit-scrollbar {
    display: none;
}

#results li {
  width: 100%;
  float: left;
}

#results li, #trending li {
  font-size: 1.5rem;
}

#results li:hover, #trending li:hover {
  border: 4px outset silver;
  background: linear-gradient(dimgrey, black);
  color: white
}
.one {
  float: left;
  width: 65%;
  margin-top: 1.28em;
  margin-left: 1em;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 8px 5px 5px #8C8684;
  min-width: 320px;
}
.ccup {
  float: left;
  height: 20vh;
  width: 10em;
  margin-left: 5em;
}

footer {
  clear: both;
  margin: auto;
  padding-top: 2em;
  text-align: center;
}

@media (max-width: 575px) {
  #map {
    width: 90%;
  }
  #results {
    clear: both;
    width: 90%;
    margin-top: 5em;
    height: 40em;
    }
  }
