body {
  height: 100vh;
  width: 100%;
  background-image: url('http://img03.deviantart.net/ef72/i/2013/142/e/d/texture_328_by_sirius_sdz-d6665gz.jpg');
  cursor: all-scroll;
}

* {
  font-family: 'Gloria Hallelujah', cursive;
  box-sizing: border-box;
}

/*header h1 {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2.5rem;
  color: snow;
  border-bottom: outset 4px brown;
  background: linear-gradient(to bottom right,firebrick,chocolate);
  margin-bottom: 2%;
  padding-bottom: 1%;
  padding-top: 1%;
}*/

form {
  margin-left: 2%;
  clear: both;
  margin-top: 2em;
  padding-top: 2em;
}

#map {
  height: 400px;
  width: 400px;
  box-shadow: 8px 8px 10px #992600;
  margin-top: 2%;
  float: left;
 }

label {
  display: block;
  margin-bottom: 2%;
}

input[type="text"] {
  text-align: center;
  font-size: 1rem;
  background: linear-gradient(silver,snow);
}

input[type="submit"] {
  border-radius: 100%;
  background: linear-gradient(chocolate,firebrick);
  font-size: 1.3rem;
  color:white;
}
header {
  margin-bottom: 2vh;
}

#results {
  list-style: none;
  text-align: center;
  width: 40%;
  float: left;
  margin: 0;
  padding-left: 0;
  margin-left: 2.5%;
  margin-top: 2%;
}

#results li {
  width: 100%;
  float: left;
}

#results li, #trending li {
  border: 4px outset silver;
  background: linear-gradient(silver,snow);
  font-size: 1.5rem;
}

#results li:hover, #trending li:hover {
  border: 4px outset silver;
  background: linear-gradient(dimgrey, black);
  color: white
}
.one {
  float: left;
  width: 65%;
  margin-top: 1.28em;
  margin-left: 1em;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  box-shadow: 8px 5px 5px #992600;
  min-width: 367px;
}
.ccup {
  float: left;
  height: 15vh;
  width: 8em;
  margin-left: 11em;
}
